@model IEnumerable<FuelProject.Models.FuelPrice>
@{ 
    ViewBag.Title = "საწვავის ფასი";
}
<head>
    <title>@ViewBag.Title</title>
    <link href="~/css/Scrap.css" rel="stylesheet" />
</head>
<body>
    <!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v10.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Your Chat Plugin code -->
    <div class="fb-customerchat"
         attribution="page_inbox"
         page_id="104899448379656">
    </div>
    <div class="table-container">
        <h4 style="color:white;font-size:larger">ბოლო განახლება: @ViewBag.DateTime</h4>
        <h4>@ViewBag.Timer</h4>
        <table class="table">
            <thead>
                <tr>
                    <th style="color:black;">საწვავის დასახელება</th>
                    <th><img class="socar" src="~/logos/socarlogo.png" /><h2>სოკარი</h2></th>
                    <th><img class="rompetrol" src="~/logos/romeptrollogo.png" /><h2>რომპეტროლი</h2></th>
                    <th><img class="lukoil" src="~/logos/lokoillogo.png" /><h2>ლუკოილი</h2></th>
                    <th><img class="gulf" src="~/logos/gulflogo.png" /><h2>გალფი</h2></th>
                    <th><img class="portal" style="max-width:48%;height:auto;" src="~/logos/portallogo.png" /><h2>პორტალი</h2></th>
                    <th><img class="optima" src="~/logos/optimalogo.png" /><h2>ოპტიმა</h2></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>რეგულარი</td>
                    <td><h3>არ არის..</h3></td>
                    <td><h3>არ არის..</h3></td>
                    <td><h3>არ არის..</h3></td>
                    <td>
                        @foreach (var item in Model)
                        {
                            if (item.FuelCategory == FuelProject.Models.FuelCategory.regulari)
                            {
                                <h4>@item.GulfPrice.ToString("F")</h4>
                            }
                        }
                    </td>
                    <td><h3>არ არის..</h3></td>
                    <td><h3>არ არის..</h3></td>
                </tr>
                <tr>
                    <td>ევრო რეგულარი</td>
                    <td>
                        @foreach (var item in Model)
                        {
                            if (item.FuelCategory == FuelProject.Models.FuelCategory.evroregulari)
                            {
                                <h4>@item.SocarPrice.ToString("F")</h4>
                            }
                        }
                    </td>
                    <td>
                        @foreach (var item in Model)
                        {
                            if (item.FuelCategory == FuelProject.Models.FuelCategory.evroregulari)
                            {
                                <h4>@item.RompetrolPrice.ToString("F")</h4>
                            }
                        }
                    </td>
                    <td>
                        @foreach (var item in Model)
                        {
                            if (item.FuelCategory == FuelProject.Models.FuelCategory.evroregulari)
                            {
                                <h4>@item.LukoilPrice.ToString("F")</h4>
                            }
                        }
                    </td>
                    <td>
                        @foreach (var item in Model)
                        {
                            if (item.FuelCategory == FuelProject.Models.FuelCategory.evroregulari)
                            {
                                <h4>@item.GulfPrice.ToString("F")</h4>
                            }
                        }
                    </td>
                    <td>
                        @foreach (var item in Model)
                        {
                            if (item.FuelCategory == FuelProject.Models.FuelCategory.evroregulari)
                            {
                                <h4>@item.PortalPrice.ToString("F")</h4>
                            }
                        }
                    </td>
                    <td>
                        @foreach (var item in Model)
                        {
                            if (item.FuelCategory == FuelProject.Models.FuelCategory.evroregulari)
                            {
                                <h4>@item.OptimaPrice.ToString("F")</h4>
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td>პრემიუმი</td>
                    <td>
                        @foreach (var item in Model)
                        {
                            if (item.FuelCategory == FuelProject.Models.FuelCategory.premiumi)
                            {
                                <h4>@item.SocarPrice.ToString("F")</h4>
                            }
                        }
                    </td>
                    <td>
                        @foreach (var item in Model)
                        {
                            if (item.FuelCategory == FuelProject.Models.FuelCategory.premiumi)
                            {
                                <h4>@item.RompetrolPrice.ToString("F")</h4>
                            }
                        }
                    </td>
                    <td>
                        @foreach (var item in Model)
                        {
                            if (item.FuelCategory == FuelProject.Models.FuelCategory.premiumi)
                            {
                                <h4>@item.LukoilPrice.ToString("F")</h4>
                            }
                        }
                    </td>
                    <td>
                        @foreach (var item in Model)
                        {
                            if (item.FuelCategory == FuelProject.Models.FuelCategory.premiumi)
                            {
                                <h4>@item.GulfPrice.ToString("F")</h4>
                            }
                        }
                    </td>
                    <td>
                        @foreach (var item in Model)
                        {
                            if (item.FuelCategory == FuelProject.Models.FuelCategory.premiumi)
                            {
                                <h4>@item.PortalPrice.ToString("F")</h4>
                            }
                        }
                    </td>
                    <td>
                        @foreach (var item in Model)
                        {
                            if (item.FuelCategory == FuelProject.Models.FuelCategory.premiumi)
                            {
                                <h4>@item.OptimaPrice.ToString("F")</h4>
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td>სუპერი</td>
                    <td>
                        @foreach (var item in Model)
                        {
                            if (item.FuelCategory == FuelProject.Models.FuelCategory.superi)
                            {
                                <h4>@item.SocarPrice.ToString("F")</h4>
                            }
                        }
                    </td>
                    <td>
                        @foreach (var item in Model)
                        {
                            if (item.FuelCategory == FuelProject.Models.FuelCategory.superi)
                            {
                                <h4>@item.RompetrolPrice.ToString("F")</h4>
                            }
                        }
                    </td>
                    <td>
                        @foreach (var item in Model)
                        {
                            if (item.FuelCategory == FuelProject.Models.FuelCategory.superi)
                            {
                                <h4>@item.LukoilPrice.ToString("F")</h4>
                            }
                        }
                    </td>
                    <td>
                        @foreach (var item in Model)
                        {
                            if (item.FuelCategory == FuelProject.Models.FuelCategory.superi)
                            {
                                <h4>@item.GulfPrice.ToString("F")</h4>
                            }
                        }
                    </td>
                    <td><h3>არ არის..</h3></td>
                    <td><h3>არ არის..</h3></td>
                </tr>
                <tr>
                    <td>დიზელი</td>
                    <td>
                        @foreach (var item in Model)
                        {
                            if (item.FuelCategory == FuelProject.Models.FuelCategory.dizeli)
                            {
                                <h4>@item.SocarPrice.ToString("F")</h4>
                            }
                        }
                    </td>
                    <td>
                        @foreach (var item in Model)
                        {
                            if (item.FuelCategory == FuelProject.Models.FuelCategory.dizeli)
                            {
                                <h4>@item.RompetrolPrice.ToString("F")</h4>
                            }
                        }
                    </td>
                    <td><h3>არ არის..</h3></td>
                    <td>
                        @foreach (var item in Model)
                        {
                            if (item.FuelCategory == FuelProject.Models.FuelCategory.dizeli)
                            {
                                <h4>@item.GulfPrice.ToString("F")</h4>
                            }
                        }
                    </td>
                    <td>
                        @foreach (var item in Model)
                        {
                            if (item.FuelCategory == FuelProject.Models.FuelCategory.dizeli)
                            {
                                <h4>@item.PortalPrice.ToString("F")</h4>
                            }
                        }
                    </td>
                    <td>
                        @foreach (var item in Model)
                        {
                            if (item.FuelCategory == FuelProject.Models.FuelCategory.dizeli)
                            {
                                <h4>@item.OptimaPrice.ToString("F")</h4>
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td>ევრო დიზელი</td>
                    <td>
                        @foreach (var item in Model)
                        {
                            if (item.FuelCategory == FuelProject.Models.FuelCategory.evrodizeli)
                            {
                                <h4>@item.SocarPrice.ToString("F")</h4>
                            }
                        }
                    </td>
                    <td>
                        @foreach (var item in Model)
                        {
                            if (item.FuelCategory == FuelProject.Models.FuelCategory.evrodizeli)
                            {
                                <h4>@item.RompetrolPrice.ToString("F")</h4>
                            }
                        }
                    </td>
                    <td>
                        @foreach (var item in Model)
                        {
                            if (item.FuelCategory == FuelProject.Models.FuelCategory.evrodizeli)
                            {
                                <h4>@item.LukoilPrice.ToString("F")</h4>
                            }
                        }
                    </td>
                    <td>
                        @foreach (var item in Model)
                        {
                            if (item.FuelCategory == FuelProject.Models.FuelCategory.evrodizeli)
                            {
                                <h4>@item.GulfPrice.ToString("F")</h4>
                            }
                        }
                    </td>
                    <td>
                        @foreach (var item in Model)
                        {
                            if (item.FuelCategory == FuelProject.Models.FuelCategory.evrodizeli)
                            {
                                <h4>@item.PortalPrice.ToString("F")</h4>
                            }
                        }
                    </td>
                    <td>
                        @foreach (var item in Model)
                        {
                            if (item.FuelCategory == FuelProject.Models.FuelCategory.evrodizeli)
                            {
                                <h4>@item.OptimaPrice.ToString("F")</h4>
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td>თხევადი გაზი</td>
                    <td>
                        @foreach (var item in Model)
                        {
                            if (item.FuelCategory == FuelProject.Models.FuelCategory.txevadigazi)
                            {
                                <h4>@item.SocarPrice.ToString("F")</h4>
                            }
                        }
                    </td>
                    <td><h3>არ არის..</h3></td>
                    <td><h3>არ არის..</h3></td>
                    <td><h3>არ არის..</h3></td>
                    <td><h3>არ არის..</h3></td>
                    <td><h3>არ არის..</h3></td>
                </tr>
                <tr>
                    <td>ბუნებრივი გაზი</td>
                    <td>
                        @foreach (var item in Model)
                        {
                            if (item.FuelCategory == FuelProject.Models.FuelCategory.bunebrivigazi)
                            {
                                <h4>@item.SocarPrice.ToString("F")</h4>
                            }
                        }
                    </td>
                    <td><h3>არ არის..</h3></td>
                    <td><h3>არ არის..</h3></td>
                    <td>
                        @foreach (var item in Model)
                        {
                            if (item.FuelCategory == FuelProject.Models.FuelCategory.bunebrivigazi)
                            {
                                <h4>@item.GulfPrice.ToString("F")</h4>
                            }
                        }
                    </td>
                    <td><h3>არ არის..</h3></td>
                    <td><h3>არ არის..</h3></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="crudebox">
        <div class="crudename">
            <a style="font-size:18px; color:#FFFFFF;text-decoration:none;">WTI Crude Price</a>
        </div>
        <script src="https://www.oilcrudeprice.com/oilwidget.php?m=000000&g=FFFFFF&c=2D6AB4&i=FFFFFF&l=76A4FB&o=E6F2FA&w=200&u=wti"></script>
    </div>
</body>
<!-- TOP.GE ASYNC COUNTER CODE -->
<div id="top-ge-counter-container" data-site-id="115107"></div>
<script async src="//counter.top.ge/counter.js"></script>
<!-- / END OF TOP.GE COUNTER CODE -->
