@model IEnumerable<FuelProject.Models.FuelPrice>
    <head>
        <link href="~/css/Scraping.css" rel="stylesheet" />
    </head>
    <body>
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>საწვავის დასახელება</th>
                        <th>Socar</th>
                        <th>Rompetrol</th>
                        <th>Lukoil</th>
                        <th>Gulf</th>
                        <th>Portal</th>
                        <th>Optima</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>რეგულარი</td>
                        <td><h3>არ არის..</h3></td>
                        <td><h3>არ არის..</h3></td>
                        <td><h3>არ არის..</h3></td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.GulfPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.GulfPrice.Contains("regularri"))
                                    {
                                        <h4>@item.GulfPrice.Replace("regularri", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.PortalPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.PortalPrice.Contains("regularri"))
                                    {
                                        <h4>@item.PortalPrice.Replace("regularri", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                        <td><h3>არ არის..</h3></td>
                    </tr>
                    <tr>
                        <td>ევრო რეგულარი</td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.SocarPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.SocarPrice.Contains("evroregulari"))
                                    {
                                        <h4>@item.SocarPrice.Replace("evroregulari", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.RompetrolPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.RompetrolPrice.Contains("evroregulari"))
                                    {
                                        <h4>@item.RompetrolPrice.Replace("evroregulari", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.LukoilPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.LukoilPrice.Contains("evroregulari"))
                                    {
                                        <h4>@item.LukoilPrice.Replace("evroregulari", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.GulfPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.GulfPrice.Contains("evroregulari"))
                                    {
                                        <h4>@item.GulfPrice.Replace("evroregulari", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.PortalPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.PortalPrice.Contains("evroregulari"))
                                    {
                                        <h4>@item.PortalPrice.Replace("evroregulari", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.OptimaPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.OptimaPrice.Contains("evroregulari"))
                                    {
                                        <h4>@item.OptimaPrice.Replace("evroregulari", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>პრემიუმი</td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.SocarPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.SocarPrice.Contains("premiumi"))
                                    {
                                        <h4>@item.SocarPrice.Replace("premiumi", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.RompetrolPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.RompetrolPrice.Contains("evropremiumi"))
                                    {
                                        <h4>@item.RompetrolPrice.Replace("evropremiumi", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.LukoilPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.LukoilPrice.Contains("premiumi"))
                                    {
                                        <h4>@item.LukoilPrice.Replace("premiumi", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.GulfPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.GulfPrice.Contains("premiumi"))
                                    {
                                        <h4>@item.GulfPrice.Replace("premiumi", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.PortalPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.PortalPrice.Contains("premiumi"))
                                    {
                                        <h4>@item.PortalPrice.Replace("premiumi", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.OptimaPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.OptimaPrice.Contains("premiumi"))
                                    {
                                        <h4>@item.OptimaPrice.Replace("premiumi", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>სუპერი</td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.SocarPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.SocarPrice.Contains("superi"))
                                    {
                                        <h4>@item.SocarPrice.Replace("superi", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.RompetrolPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.RompetrolPrice.Contains("superi"))
                                    {
                                        <h4>@item.RompetrolPrice.Replace("superi", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.LukoilPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.LukoilPrice.Contains("ectosupperi"))
                                    {
                                        <h4>@item.LukoilPrice.Replace("ectosupperi", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.GulfPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.GulfPrice.Contains("superi"))
                                    {
                                        <h4>@item.GulfPrice.Replace("superi", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                        <td>
                            <h3>არ არის..</h3>
                        </td>
                        <td>
                            <h3>არ არის..</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>დიზელი</td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.SocarPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.SocarPrice.Contains("diseli"))
                                    {
                                        <h4>@item.SocarPrice.Replace("diseli", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.RompetrolPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.RompetrolPrice.Contains("diseli"))
                                    {
                                        <h4>@item.RompetrolPrice.Replace("diseli", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                        <td>
                            <h3>არ არის..</h3>
                        </td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.GulfPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.GulfPrice.Contains("diseli"))
                                    {
                                        <h4>@item.GulfPrice.Replace("diseli", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.PortalPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.PortalPrice.Contains("diseli"))
                                    {
                                        <h4>@item.PortalPrice.Replace("diseli", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.OptimaPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.OptimaPrice.Contains("diseli"))
                                    {
                                        <h4>@item.OptimaPrice.Replace("diseli", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>ევრო დიზელი</td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.SocarPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.SocarPrice.Contains("evrodizeli"))
                                    {
                                        <h4>@item.SocarPrice.Replace("evrodizeli", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.RompetrolPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.RompetrolPrice.Contains("evrodizeli"))
                                    {
                                        <h4>@item.RompetrolPrice.Replace("evrodizeli", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.LukoilPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.LukoilPrice.Contains("evrodizeli"))
                                    {
                                        <h4>@item.LukoilPrice.Replace("evrodizeli", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.GulfPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.GulfPrice.Contains("evrodizeli"))
                                    {
                                        <h4>@item.GulfPrice.Replace("evrodizeli", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.PortalPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.PortalPrice.Contains("evrodizeli"))
                                    {
                                        <h4>@item.PortalPrice.Replace("evrodizeli", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.OptimaPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.OptimaPrice.Contains("evrodizeli"))
                                    {
                                        <h4>@item.OptimaPrice.Replace("evrodizeli", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>ბუნებრივი გაზი</td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.SocarPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.SocarPrice.Contains("CNG"))
                                    {
                                        <h4>@item.SocarPrice.Replace("CNG", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                        <td>
                            <h3>არ არის..</h3>
                        </td>
                        <td>
                            <h3>არ არის..</h3>
                        </td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.GulfPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.GulfPrice.Contains("gazi"))
                                    {
                                        <h4>@item.GulfPrice.Replace("gazi", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                        <td>
                            <h3>არ არის..</h3>
                        </td>
                        <td>
                            <h3>არ არის..</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>თხევადი გაზი</td>
                        <td>
                            @foreach (var item in Model)
                            {
                                if (item.SocarPrice == null)
                                {
                                    continue;
                                }
                                else
                                {
                                    if (item.SocarPrice.Contains("LPG"))
                                    {
                                        <h4>@item.SocarPrice.Replace("LPG", "")</h4>
                                        break;
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                        </td>
                        <td>
                            <h3>არ არის..</h3>
                        </td>
                        <td>
                            <h3>არ არის..</h3>
                        </td>
                        <td>
                            <h3>არ არის..</h3>
                        </td>
                        <td>
                            <h3>არ არის..</h3>
                        </td>
                        <td>
                            <h3>არ არის..</h3>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
