@model IEnumerable<FuelProject.Models.FuelPrice>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>საწვავის ფასები</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 15%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RompetrolName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RompetrolPrice)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RompetrolName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RompetrolPrice)
            </td>
        </tr>
        <tr>

        </tr>
}
    </tbody>
</table>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(o=>o.GulfName)
                </th>
                <th>
                    @Html.DisplayNameFor(o=>o.GulfPrice)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem=>item.GulfName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=>item.GulfPrice)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
